* {
    margin: 0;
    padding: 0;
}

html {
    font-family: serif;
}

body {
    display: flex;
    max-width: 80ch;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: #ffffff;
    }

    pre {
        background-color: #444444;
        color: #ffffff;
    }
}

/* light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }

    pre {
        background-color: #eeeeee;
        color: #000000;
    }
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

h1 {
    padding: 3rem 1rem 1rem;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

body > p {
    padding: 1rem 1rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

main {
    flex: 1;
}

main section {
    margin-bottom: 2rem;
}

main h2,
main h3,
main h4,
main h5,
main h6 {
    padding: 1rem;
    line-height: 1.5;
}

main h2:first-child {
    padding-top: 0;
}

main h2 {
    font-size: 2rem;
}

main h3 {
    font-size: 1.8rem;
}

main h4 {
    font-size: 1.6rem;
}

main h5 {
    font-size: 1.4rem;
}

main h6 {
    font-size: 1.2rem;
}

main pre {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: monospace;
    overflow: scroll;
}

main p {
    padding: 0 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

main img {
    width: 100%;
    padding: 0 0 1rem;
}

main ul {
    padding: 0 1rem 1rem;
}

main ul li {
    font-size: 1rem;
    line-height: 1.5;
}

main ul li a {
    color: inherit;
    text-decoration: underline;
}

footer {
    padding: 3rem 0 1rem;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

@media screen and (min-width: 40ch) {
    footer ul {
        flex-direction: row;
        justify-content: center;
    }

    footer ul li::after {
        margin: 0 0.5rem;
        content: "|";
    }
}

@media screen and (max-width: 40ch) {
    footer ul {
        flex-direction: column;
        align-items: center;
    }
}

footer ul li {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
}

footer ul li a {
    color: inherit;
    text-decoration: underline;
}

footer ul li:last-child::after {
    margin: 0;
    content: none;
}
