* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 100%;
}

body {
    width: inherit;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000000;
    font-family: serif;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 48rem;
    margin: 0 auto;
}

#header {
    padding: 3rem 1rem;
}

#header h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}

#header h1 a {
    text-decoration: none;
}

#header h1 a:hover {
    text-decoration: underline;
}

#main {
    flex: 1;
    padding: 0 1rem;
}

#main section {
    margin-bottom: 2rem;
}

#main section header h2 {
    padding: 0 1rem;
}

#main section h2,
#main section h3,
#main section h4,
#main section h5,
#main section h6 {
    padding: 1rem 1rem 0;
    line-height: 1.2;
}

#main section h2 {
    font-size: 2em;
}

#main section h3 {
    font-size: 1.8rem;
}

#main section h4 {
    font-size: 1.6rem;
}

#main section h5 {
    font-size: 1.4rem;
}

#main section h6 {
    font-size: 1.2rem;
}

#main section pre {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: monospace;
    background-color: #eeeeee;
    overflow: scroll;
}

#main section > * + pre {
    margin-top: 1rem;
}

#main section p {
    padding: 1rem 1rem 0;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}

#main section ul {
    padding: 1rem 1rem 0;
}

#main section ul li {
    font-size: 1rem;
    line-height: 1.2;
}

#main section ul li a {
    color: inherit;
    text-decoration: underline;
}

#footer {
    padding: 0.5rem;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footer ul li {
    list-style: none;
    padding: 0.5rem 0;
    font-size: 1rem;
    line-height: 1;
}

#footer ul li:first-child {
    padding-left: 0.5rem;
}

#footer ul li:last-child {
    padding-right: 0.5rem;
}

#footer ul li a {
    color: inherit;
    text-decoration: underline;
}

#footer ul li::after {
    margin: 0 0.5rem;
    content: "|";
}

#footer ul li:last-child::after {
    margin: 0;
    content: none;
}
