<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fac3.org {%- if metadata.title %} &mdash; {{ metadata.title }} {%- endif %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <header><a href="/">fac3.org</a></header>
    <p><em>Software, Hardware, Music & Random Stuff</em></p>
    <main>
      {% block main %}
      {{ main }}
      {% endblock %}
    </main>
    <footer>
      <ul>
        <li>GPG Key: <a href="/3e7179a4.txt">3E7179A4</a></li>
        <li><a href="mailto:contact@fac3.org">Contact</a></li>
        <li>&copy; 2023 <a href="/">b3orn</a></li>
      </ul>
    </footer>
  </body>
</html>
